.my-list{
    background-color:#4532ee;
    padding: 8px 24px;
    width: 500px;
    font-size: 30px;
    margin: auto;
    border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px #333333;
}
ol{
    margin: 12px;
}
p{
    color: white;
    text-align: center;
}
h2 {
    color: white
}